table {
  border-collapse: collapse;
}

.data-table td,
.data-table th {
  border: 1px solid black;
  border-spacing: 0px;
  /*color: red;*/
}
.data-table th, td {
  padding: 0.5em 0.25em ;
}
.data-table th {
  background-color: #4b5bab;
  color: white
}
.data-table td {
  transition: .02s ease-in;
  max-width: 800px;
  overflow: hidden;
  max-lines: -1;
  text-overflow: ellipsis;
}

.data-table tr:nth-child(2n) {
  background-color: #c2c2d1;
}

.data-table td:hover {
  background-color: red;
  color: green;
}

.data-table thead {
  /*color: green;*/
}